*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body{ 
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif; 
    display: flex; 
}
aside{
    width: 220px;
    background: #333333;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside h2{ 
    font-size: 20px; 
    margin-bottom: 20px; 
}
aside nav a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 16px;
    padding: 8px;
}
aside nav a i{
    margin-right: 8px;
}
aside nav a.active{
    background: #4a4a4a;
    border-radius: 6px;
}
aside .logout{
    color: #f44336;
    margin-top: 30px;
    display: block;
}
.main{
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}
.grid{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}
.card{ 
    background: rgba(255, 255, 255, 0.064); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.187); 
}
.card h3{ 
    margin: 0; 
    font-size: 20px; 
    margin-bottom: 10px; 
}
.card p{ 
    color: gray; 
    font-size: 14px; 
}
canvas{ 
    width: 100% !important; 
    height: 300px !important; 
}
table{ 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}
table th, table td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; 
}
table th{
    background-color: #f0f0f0;
}
.filters{
    margin: 20px 0; 
    display: flex; 
    gap: 10px; 
}
.filters a{ 
    text-decoration: none; 
    color: #333333; 
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.filters a.active {
    background-color: #333333;
    color: white;
}